@model HRMS.Entity.Models.Department

@{
    Layout = "_NoNavLayout";
}

<div class="row" style="text-align:center">
    <div class="col-md-12">
        <form asp-action="CreateDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="departmentName" class="control-label">Department</label>
                <input asp-for="departmentName" class="form-control" />
                <span asp-validation-for="departmentName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input  type="submit" value="Add Department" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
