@model HRMS.Entity.ViewModels.ChangePassViewModel

@{
    ViewData["Title"] = "Change Password";
}

<style>
    body {
        background-image: url("https://th.bing.com/th/id/OIP.9xokp3m292qZSds2oimoPAHaEo?pid=ImgDet&rs=1");
    }
</style>
<br />
<br />
<br />
<br />
<br />
<div class="card rounded-3 mx-auto" style="width:50%; padding:15px; background-color:lightblue;">
    <div class="card-body">
        <h1 class="card-title" style="text-align:center">Change Password</h1>
        <hr />
        <div class="row">
            <div class="col">
                <form asp-action="Change Password">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
